

.main{
display: flex;
justify-content: center; 
}

.samedata {
    border: 2px solid gold; 
    height: 500px ;
    width:500px
}

.differentdata {
    border: 2px solid gold; 
    height: 500px ;
    width:500px
}